body {
  background-color: black;
  font-family: "Times New Roman", Times, serif;
}

.me {
  width: 700px;
  border-style: solid;
  border-color: #11ccee;
  border-width: medium;
  text-align: center;
}

#about {
  color: #11ccee;
  background-color: ;
  text-align: center;
  font-size: 59px;
  border-style: solid;
  border-color: #11ccee;
}

.title {
  color: blue;
  font-size: 70px;
  text-align: center;
  background-color: black;
  border-style: solid;
  border-color: black;
}

.titlea {
  color: blue;
  font-size: 250px !important;
  text-align: center;
}

img {
  width: 100%;
  border-style: solid;
  border-color: #11ccee;
  border-width: medium;
}

#first {
  text-align: center;
}

#firstt {
  text-align: center;
  background-color: black;
  color:#11ccee;
  font-size: 59px;
  border-color: #11ccee;
  border-style: solid;
  border-width: medium;
}

#xeno {
  text-align: center;
}

#xenot {
  text-align: center;
  background-color: black;
  color: #11ccee;
  font-size: 59px;
  border-color: #11ccee;
  border-style: solid;
  border-width: medium;
}

#city {
  text-align: center;
}

#cityt {
  text-align: center;
  background-color: black;
  color: #11ccee;
  font-size: 59px;
  border-color: #11ccee;
  border-style: solid;
  border-width: medium;
}

a {
  color: yellow;
}

#vania {
  text-align: center;
}

#vaniat {
  text-align: center;
  background-color: black;
  color: #11ccee;
  font-size: 59px;
  border-color: #11ccee;
  border-style: solid;
  border-width: medium;
}

#bad {
  text-align: center;
}

#badt {
  text-align: center;
  background-color: black;
  color: #11ccee;
  font-size: 59px;
  border-color: #11ccee;
  border-style: solid;
  border-width: medium;
}

.unitt{
  text-align: center;
  font-size: 1000px;
  color: #11ccee;
  background-color: black;
  font-size: 59px;
  border-color: #11ccee;
  border-style: solid;
  border-width: medium;
}

.link{
  text-align: center;
  font-size: 5000px;
  color: #11ccee;
  background-color: black;
  font-size: 59px;
  border-color: #11ccee;
  border-style: solid;
  border-width: medium;
}

.nav {
    background-color:black;
    font-size: 45px;
    color: #11ccee;
    border-color: #11ccee;
    border-style: solid;
    border-width: medium;
}

.jumbotron {
  background-image: url("../img/Background.jpg") !important;\
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  border-style: solid;
  border-color: #11ccee;
}
