body {
  background-color: black;
  font-size: 25px;
  color: black;
  text-align: center;
}

button {
  color: white;
  font-size: 25px;
  background-color: black;
}

select {
  font-size: 30px;
}

.bruh {
  background-color: white;
}

#title {
  color: white;
  font-size: 50px;
}

#cal {
  margin-right: 250px;
  font-size: 50px;
}

.dropdown-item {
  text-align: center;
}
